<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="http://www.youtube.com" new>Youtube</a></li>
    </ul>
    <p>
      <%= title %>
    </p>
    <img src="<%= image %>" alt="" width="500px" height="300px" />
    <a href="<%= next %>">Next</a>
  </body>
</html>
