<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Youtube</a></li>
    </ul>
    <p>
      <%= Songverse %>
    </p>
    <img src="" + <%= imageSrc %> + "" alt="" />
    <a href="#">Next</a>
  </body>
</html>
