body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  display: inline-block;
}

a {
  color: #00B7FF;
}
